body {
    margin: 0;
    border-top: 4px;
    border-color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-line {
    height: 5px;
    background-color: orangered;
    width: 100%;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
}

.foto {
    padding: 30px 25px 20px 70px;
    margin-top: 7px;
}

.user {
    padding: 30px 50px 20px 20px;
}

.user h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.user h3 {
    color: orangered;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
}

.user p {
    color: rgb(148, 148, 148);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.user-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.info-bar h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.info-bar h4 span {
    color: rgb(148, 148, 148);
}

.info-bar h5 {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(148, 148, 148);
}

.social-links {
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon {
    max-width: 18px;
    height: 18px;
    overflow: hidden;
    padding: 8px;    
    border: 2px solid rgb(212, 212, 212);
}

.icon svg {
    max-width: 18px;
    max-height: 18px;
}

.activity {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.work {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.specialities {
    display: grid;
    grid-template-columns: 260px 2fr 2fr;
    column-gap: 10px;
}

.stats {
    margin-top: 60px;
    padding: 20px 40px 30px 20px;
}

.stats-h {
    text-transform: uppercase;
    color: rgb(148, 148, 148);
    font-size: 14px;
    text-align: right;
    padding: 5px 40px 10px 10px;
}

.activity h5 {
    color: rgb(148, 148, 148);
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0px;
}

.activity h4 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 16px;
}

.work h5 {
    color: rgb(148, 148, 148);
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0px;
}

.work h4 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 16px;
}

.mysp h4 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 4px;
}

.mysp p {
    color: rgb(148, 148, 148);
    font-size: 11px;
}

@media only screen and (max-width: 850px) {
    .user-stats {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "top1 top2"
            "main main";
    }

    .activity {
        display: grid;
        grid-template-columns: 260px 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    
    .work {
        display: grid;
        grid-template-columns: 260px 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    
    .specialities {
        display: grid;
        grid-template-columns: 260px 2fr 2fr;
        column-gap: 10px;
    }

    .bar1 {
        grid-area: top1;
    }

    .bar2 {
        grid-area: top2;
    }

    .bar3 {
        grid-area: main;
    }
}

@media only screen and (max-width: 800px) {
    .activity {
        grid-template-columns: 260px 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "top1 top2 top3"
            "top1 bot2 bot3";
    }

    .main-tittle1 {
        grid-area: top1;
    }

    .act1 {
        grid-area: top2;
    }

    .act2 {
        grid-area: top3;
    }

    .act3 {
        grid-area: bot2;
    }

    .act4 {
        grid-area: bot3;
    }

    .work {
        grid-template-columns: 260px 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "tp1 tp2 tp3"
            "tp1 bt2 bt3";
    }

    .main-tittle2 {
        grid-area: tp1;
    }

    .at1 {
        grid-area: tp2;
    }

    .at2 {
        grid-area: tp3;
    }

    .at3 {
        grid-area: bt2;
    }

    .at4 {
        grid-area: bt3;
    }
}

@media only screen and (max-width: 600px) {
    .user-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .activity {
        display: block;
        text-align: center;
    }

    .work {
        display: block;
        text-align: center;
    }

    .specialities {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        text-align: center;
    }
    
    .stats {
        margin: 5px;
        padding: 0;
    } 

    .stats-h {
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

}